name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Log into Azure
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

#       - name: Run Bicep deploy
#         uses: azure/arm-deploy@v1
#         with:
#           subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
#           resourceGroupName: ${{ secrets.AZURE_RG_BICEP }}
#           template: ./azure-bicep-deploy.bicep

        # output containerName variable from template
      - run: echo ${{ steps.deploy.outputs.containerName }}
      
      # Azure logout 
      - name: logout
        run: |
          az logout
